<style>
    body {
        padding: 0;
        margin: 0;
    }
    .wrapper {
        display: flex;
        height: 100vh;
        width: 100vw;
        flex-direction: column;
    }
    .colour {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .colour > span {
        color: white;
        mix-blend-mode: difference;
        font-weight: bolder;
    }
    .error {
        color: red;
    }
</style>

<form method=post enctype=multipart/form-data>
    <input type="file" name="image" />
    <label for="number_of_colours">Number of colours: </label>
    <input type="number" name="number_of_colours" id="number_of_colours" value="3" min="1" max="10"/>
    <input type=submit value="Generate palette">
</form>

<div class="error">
    {{errors}}
</div>

<div class="wrapper">
    {% for colour in colours %}
        <div class="colour" style="background-color: {{colour}};">
            <span>{{colour}}</span>
        </div>
    {% endfor %}
</div>